# Add a .env file and fill in the configuration below

PORT=3001

NODE_ENV=development

DATABASE_URI=mysql://<username>:<password>@<host>:<port>/<dbname>

REDIS_URL=redis://:<password>@<host>:<port>/0

BASE_URL=<protocol>://<domain>

FE_URL=<protocol>://<domain>

LEGACY_API_URL=<protocol>://<domain>

SWAGGER_PASSWORD=<your-swagger-password>

UPLOAD_FILE=<path-to-upload-directory> // e.g. ../mot-php-admin Because currently, mot-php-admin is used to store uploaded files