# Add a .env.production file and fill in the configuration below

PORT=443

NODE_ENV=production

DATABASE_URI=mysql://<username>:<password>@<host>:<port>/<dbname>

REDIS_URL=redis://:<password>@<host>:<port>/0

BASE_URL=https://admin.mastersoftrivia.com/

FE_URL=<protocol>://<domain>