# Add a .env.staging file and fill in the configuration below

PORT=3333

NODE_ENV=staging

DATABASE_URI=mysql://<username>:<password>@<host>:<port>/<dbname>

REDIS_URL=redis://:<password>@<host>:<port>/0

BASE_URL=https://admin-staging.mastersoftrivia.com/

FE_URL=<protocol>://<domain>

LEGACY_API_URL=<protocol>://<domain>

SWAGGER_PASSWORD=<your-swagger-password>

UPLOAD_FILE=<path-to-upload-directory> // e.g. api/public/uploads. Make sure this directory is writable and link it with Legacy System's upload directory /home/anthony/mot-php-admin-staging