# Add a .env.production file and fill in the configuration below

PORT=443

NODE_ENV=production

DATABASE_URI=mysql://<username>:<password>@<host>:<port>/<dbname>

REDIS_URL=redis://:<password>@<host>:<port>/0

BASE_URL=https://admin.mastersoftrivia.com/

FE_URL=https://mastersoftrivia.com/

LEGACY_API_URL=<protocol>://<domain>

SWAGGER_PASSWORD=<your-swagger-password>

UPLOAD_FILE=<path-to-upload-directory> // e.g. api/public/uploads. Make sure this directory is writable and link it with Legacy System's upload directory /home/anthony/mot-php-admin