# Create a .env.db file and add the database configuration below
# This file is used for the `mysql` service in docker-compose.infra.yaml

MYSQL_ROOT_PASSWORD=***
MYSQL_DATABASE=***
MYSQL_USER=***
MYSQL_PASSWORD=***
