# Add a .env.staging file and fill in the configuration below

PORT=3333

NODE_ENV=staging

DATABASE_URI=mysql://<username>:<password>@<host>:<port>/<dbname>

REDIS_URL=redis://:<password>@<host>:<port>/0

BASE_URL=https://admin-staging.mastersoftrivia.com/

FE_URL=<protocol>://<domain>